<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myresep">

    <!-- Izin akses untuk membaca media (dibutuhkan untuk upload gambar dari galeri) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <application
        android:allowBackup="true"
        android:label="MyResep"
        android:icon="@drawable/logo_myresep"
        android:roundIcon="@drawable/logo_myresep"
        android:supportsRtl="true"
        android:theme="@style/Theme.Myresep">

        <!-- Splash screen sebagai launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity android:name=".MainActivity" android:exported="true" />

        <!-- Tambah Resep -->
        <activity android:name=".AddRecipeActivity" android:exported="true" />

        <!-- Detail Resep -->
        <activity android:name=".DetailActivity" android:exported="true" />

        <!-- Edit Resep -->
        <activity android:name=".EditRecipeActivity" android:exported="true" />

    </application>

</manifest>
